In [2]:
#Pandas: Dataset library
import pandas as pd
import datetime
import numpy as np


#Read dataset
rrhh_ds = pd.read_json("https://www.datos.gov.co/resource/72sg-cybi.json")

#Print dataset
rrhh_ds.head()

,departamento,municipio,codigo_dane,armas_medios,fecha_hecho,genero,grupo_etario,descripci_n_conducta,cantidad
0,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,1/01/2010,MASCULINO,ADULTOS,LESIONES PERSONALES,1
1,AMAZONAS,LETICIA (CT),91001000,ARMA DE FUEGO,1/01/2010,MASCULINO,ADULTOS,LESIONES PERSONALES,1
2,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,LESIONES PERSONALES,2
3,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,LESIONES PERSONALES,1
4,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,LESIONES PERSONALES,1

In [3]:
#Group by two keys and then summarize each group
rrhh_ds['fecha_hecho'] = pd.to_datetime(rrhh_ds['fecha_hecho'], dayfirst=True)

pd = (rrhh_ds.groupby([rrhh_ds['fecha_hecho'].dt.year,'departamento'])['municipio']
               .sum()
               .sort_values()
               .reset_index())
print (pd)

    fecha_hecho        departamento  \
0          2010               HUILA
1          2010              ARAUCA
2          2010               CHOCÓ
3          2010           SANTANDER
4          2010           ATLÁNTICO
5          2010              BOYACÁ
6          2010        CUNDINAMARCA
7          2010               VALLE
8          2010              TOLIMA
9          2010             BOLÍVAR
10         2010           ANTIOQUIA
11         2010                META
12         2010               SUCRE
13         2010  NORTE DE SANTANDER
14         2010           RISARALDA
15         2010           MAGDALENA
16         2010             CAQUETÁ
17         2010              NARIÑO
18         2010              CALDAS
19         2010            AMAZONAS
20         2010             CÓRDOBA
21         2010             GUAJIRA
22         2010              VAUPÉS
23         2010            PUTUMAYO
24         2010            CASANARE
25         2010               CAUCA
26         2010             QUINDÍO
27         2010          SAN ANDRÉS
28         2010            GUAVIARE
29         2010               CESAR

                                            municipio
0   ACEVEDOAGRADOAIPEALTAMIRABARAYAISNOSLA ARGENTI...
1                     ARAUQUITAARAUCA (CT)ARAUCA (CT)
2   ATRATOQUIBDÓ (CT)QUIBDÓ (CT)QUIBDÓ (CT)QUIBDÓ ...
3   BARRANCABERMEJABARRANCABERMEJABUCARAMANGA (CT)...
4   BARRANQUILLA (CT)BARRANQUILLA (CT)BARRANQUILLA...
5   BELÉNBELÉNCHIQUINQUIRÁCIÉNEGAGÜICÁNGÜICÁNNOBSA...
6   BOGOTÁ D.C. (CT)BOGOTÁ D.C. (CT)BOGOTÁ D.C. (C...
7   BUGALAGRANDECALI (CT)CALI (CT)CALI (CT)CALI (C...
8   CAJAMARCACAJAMARCAIBAGUÉ (CT)IBAGUÉ (CT)IBAGUÉ...
9   CANTAGALLOCARTAGENA (CT)CARTAGENA (CT)CARTAGEN...
10  CAREPACHIGORODÓENVIGADOMEDELLÍN (CT)NECOCLÍGIR...
11  CASTILLA LA NUEVAEL DORADOPUERTO LÓPEZPUERTO L...
12  COLOSOSAMPUÉSSAMPUÉSSAN ONOFRESINCELEJO (CT)SI...
13  CÚCUTA (CT)CÚCUTA (CT)CÚCUTA (CT)LOS PATIOSCÚC...
14  DOSQUEBRADASPEREIRA (CT)PEREIRA (CT)PEREIRA (C...
15  EL BANCOSANTA MARTA (CT)SANTA MARTA (CT)SANTA ...
16  FLORENCIA (CT)FLORENCIA (CT)SOLITAFLORENCIA (C...
17  IPIALESIPIALESIPIALESPASTO (CT)PASTO (CT)PASTO...
18  LA DORADAMANIZALES (CT)MANIZALES (CT)MANIZALES...
19  LETICIA (CT)LETICIA (CT)LETICIA (CT)LETICIA (C...
20  LORICAMONTERÍA (CT)MONTERÍA (CT)MONTERÍA (CT)M...
21  MAICAOMAICAORIOHACHA (CT)URIBIARIOHACHA (CT)RI...
22                                          MITÚ (CT)
23  MOCOA (CT)MOCOA (CT)PUERTO ASÍSPUERTO ASÍSPUER...
24  PAZ DE ARIPOROAGUAZULOROCUÉTRINIDADMANÍPAZ DE ...
25  POPAYÁN (CT)POPAYÁN (CT)POPAYÁN (CT)PUERTO TEJ...
26  QUIMBAYABUENAVISTABUENAVISTABUENAVISTACALARCAC...
27      SAN ANDRÉS (CT)SAN ANDRÉS (CT)SAN ANDRÉS (CT)
28  SAN JOSÉ DEL GUAVIARE (CT)SAN JOSÉ DEL GUAVIAR...
29  VALLEDUPAR (CT)VALLEDUPAR (CT)VALLEDUPAR (CT)V...

In [ ]:
#Grouping and perform count over each group
armas_medios_emp_num =  rrhh_ds.groupby('armas_medios')['armas_medios'].count()
print(armas_medios_emp_num)