In [1]:
#Pandas: Dataset library
import pandas as pd
import datetime
import numpy as np


#Read dataset
rrhh_ds = pd.read_json("https://www.datos.gov.co/resource/72sg-cybi.json")

#Print dataset
rrhh_ds.head()

,departamento,municipio,codigo_dane,armas_medios,fecha_hecho,genero,grupo_etario,descripci_n_conducta,cantidad
0,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,1/01/2010,MASCULINO,ADULTOS,LESIONES PERSONALES,1
1,AMAZONAS,LETICIA (CT),91001000,ARMA DE FUEGO,1/01/2010,MASCULINO,ADULTOS,LESIONES PERSONALES,1
2,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,LESIONES PERSONALES,2
3,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,LESIONES PERSONALES,1
4,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,LESIONES PERSONALES,1

In [11]:
#¿Cuáles han sido los departamentos (TOP 3) más afectados a nivel histórico y en el último año?

pd = (rrhh_ds.groupby(['departamento'])
               .sum(['cantidad'])
               .sort_values(['cantidad'])
               .reset_index())

print (pd)
#Podemos ver que los departamentos con mas lesiones personales en la historia de estos datos son 1.

          departamento  codigo_dane  cantidad
0               VAUPÉS     97001000         1
1           SAN ANDRÉS    264003000         3
2               ARAUCA    243067000         3
3             GUAVIARE    285017000         3
4             AMAZONAS    455005000         6
5   NORTE DE SANTANDER    379312000         7
6             CASANARE    681311000         8
7             PUTUMAYO    864163000        10
8              GUAJIRA    529825000        12
9              CAQUETÁ    217752000        13
10             QUINDÍO    884270000        14
11               CHOCÓ    351871000        14
12               CESAR    280014000        15
13             CÓRDOBA    506992000        22
14           MAGDALENA   1083353000        25
15             BOLÍVAR    396346000        31
16              TOLIMA   2192481000        33
17                META   1508477000        34
18               SUCRE   2319945000        34
19              NARIÑO   1671276000        36
20           RISARALDA   2512470000        40
21              BOYACÁ    618670000        41
22               CAUCA    812428000        45
23           ANTIOQUIA    229448000        45
24           ATLÁNTICO    378189000        50
25              CALDAS   1171477000        73
26               HUILA   2844156000        75
27           SANTANDER   5534159000        85
28               VALLE   9451051000       140
29        CUNDINAMARCA   2139135000       176

In [4]:
#¿Cuáles han sido los departamentos (TOP 3) más afectados a nivel histórico y en el último año?
rrhh_ds['fecha_hecho'] = pd.to_datetime(rrhh_ds['fecha_hecho'], dayfirst=True)

pd = (rrhh_ds.groupby([rrhh_ds['fecha_hecho'].dt.year,'departamento'])['municipio']
               .sum()
               .sort_values()
               .reset_index())
print (pd)

AttributeError: 'DataFrame' object has no attribute 'to_datetime'

In [3]:
#Grouping and perform count over each group
armas_medios_emp_num =  rrhh_ds.groupby('armas_medios')['armas_medios'].count()
print(armas_medios_emp_num)

armas_medios
ARMA BLANCA / CORTOPUNZANTE     286
ARMA DE FUEGO                   112
COMBUSTIBLE                       1
CONTUNDENTES                    553
JERINGA                           1
MOTO                              1
NO REPORTADO                      7
PERRO                             1
POLVORA(FUEGOS PIROTECNICOS)      1
PUNZANTES                        37
Name: armas_medios, dtype: int64