# Introducción a herramientas para Ciencia de Datos - Pandas

In [82]:
import datetime 
import numpy as np
import pandas as pd
from sodapy import Socrata

client = Socrata("www.datos.gov.co", None)

results = client.get("ha6j-pa2r", limit=200000)

# Convert to pandas DataFrame
datosX = pd.DataFrame.from_records(results)

datos = pd.read_json("https://www.datos.gov.co/resource/ha6j-pa2r.json")

datos.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,departamento,municipio,codigo_dane,armas_medios,fecha_hecho,genero,grupo_etar_o,descripci_n_conducta,cantidad
0,ANTIOQUIA,COPACABANA,5212000,ARMA DE FUEGO,1/01/2010,MASCULINO,ADULTOS,HOMICIDIO,1
1,ANTIOQUIA,MEDELLÍN (CT),5001000,ARMA DE FUEGO,1/01/2010,MASCULINO,ADULTOS,HOMICIDIO,2
2,ANTIOQUIA,MEDELLÍN (CT),5001000,ARMA DE FUEGO,1/01/2010,MASCULINO,ADULTOS,HOMICIDIO,1
3,ANTIOQUIA,MEDELLÍN (CT),5001000,ARMA DE FUEGO,1/01/2010,MASCULINO,ADULTOS,HOMICIDIO,1
4,ANTIOQUIA,MEDELLÍN (CT),5001000,ARMA DE FUEGO,1/01/2010,MASCULINO,ADULTOS,HOMICIDIO,1

In [83]:
datos.shape

(1000, 9)

In [84]:
datos.dtypes

departamento            object
municipio               object
codigo_dane              int64
armas_medios            object
fecha_hecho             object
genero                  object
grupo_etar_o            object
descripci_n_conducta    object
cantidad                 int64
dtype: object

In [87]:
#¿Cuáles han sido los departamentos (TOP 3) más afectados a nivel histórico y en el último año?
datos1 = datos[['departamento','cantidad']]
datos1 = (datos1.groupby(['departamento'])
               .sum(['cantidad'])
               .sort_values(['cantidad'])
               .reset_index())
datos1
#Podemos ver que los departamentos con mas lesiones personales en la historia de estos datos son 
# 1)VALLE           209
# 2)ANTIOQUIA	    157    
# 3)CUNDINAMARCA    105

          departamento  cantidad
0              VICHADA         1
1           SAN ANDRÉS         1
2                CHOCÓ         6
3               ARAUCA         9
4             PUTUMAYO         9
5              GUAJIRA         9
6             CASANARE        10
7             GUAVIARE        10
8              CAQUETÁ        11
9               BOYACÁ        13
10               SUCRE        17
11             QUINDÍO        19
12           MAGDALENA        22
13              CALDAS        25
14              TOLIMA        26
15                META        26
16               CESAR        27
17              NARIÑO        29
18               HUILA        29
19  NORTE DE SANTANDER        30
20             BOLÍVAR        31
21             CÓRDOBA        33
22           RISARALDA        33
23           SANTANDER        34
24               CAUCA        40
25           ATLÁNTICO        45
26        CUNDINAMARCA       105
27           ANTIOQUIA       157
28               VALLE       209

In [90]:
#1. ¿Cuáles han sido los departamentos (TOP 3) más afectados a nivel histórico y en el último año?

pd = (datos.groupby(['departamento','fecha_hecho'])
               .sum(['cantidad'])
               .sort_values(['cantidad'])
               .reset_index())

print (pd)
#Podemos ver que los departamentos con mas lesiones personales en la historia de estos datos son 1, durante el año 2010 con mas frecuencia.

     departamento fecha_hecho  codigo_dane  cantidad
0         GUAJIRA  10/01/2010     44098000         1
1         GUAJIRA  13/01/2010     44035000         1
2         GUAJIRA   4/01/2010     44001000         1
3         GUAJIRA   9/01/2010     44430000         1
4        GUAVIARE   1/01/2010     95015000         1
..            ...         ...          ...       ...
318  CUNDINAMARCA  17/01/2010    185817000        16
319         VALLE  16/01/2010   1293710000        17
320  CUNDINAMARCA   1/01/2010    226643000        18
321         VALLE   3/01/2010   1374010000        19
322         VALLE   1/01/2010   1524386000        20

[323 rows x 4 columns]

In [ ]:
datos = datos[['departamento','cantidad']]
datos.sort_values(['departamento'], ascending=True)

datos = datos.groupby(['departamento']).agg(['count'])
datos