### Diccionario de datos

- id: Identificar único de la solicitud de crédito
- income: Ingreso anual en USD
- experience: Años de experiencia profesional
- marital_status: Estado marital
- house_ownership: Tipo de vivienda
- car_ownership: Propiedad de vehículo
- profession: Profesión
- city: Ciudad de residencia
- state: Estado de residencia
- current_job_years: Años en el trabajo actual
- current_house_years: Años en la actual residencia
- risk_flag: Indica si fue identificado como riesgo de incumplimiento de la obligación

In [1]:
import pandas as pd

import altair as alt
alt.renderers.enable('default')

RendererRegistry.enable('default')

In [4]:
loans_df = pd.read_csv('./data/loans.csv')

In [5]:
loans_df.shape

(252000, 13)

In [6]:
loans_df.dtypes

id                      int64
income                  int64
age                     int64
experience              int64
marital_status         object
house_ownership        object
car_ownership          object
profession             object
city                   object
state                  object
current_job_years       int64
current_house_years     int64
risk_flag               int64
dtype: object

In [11]:
loans_df.head()

,id,income,age,experience,marital_status,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1